#pageContainerAbout{
    min-height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.my-div {
    margin: 50px 0;
    height: 200px;
    background: #007BFF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.parentDivAbout{
    display: flex;
    flex-direction: column;
}
.parentDivAbout > *{
    margin-bottom: 10vh;
}
.MacTab1{
   width: 50vw; 
   align-self: flex-start;
}
.MacTab2{
    width: 60vw;
    align-self: flex-end;   
}
.MacTab3{
    width: 40vw;
    align-self: flex-start;
}
.MacTab4{
    width: 40vw;
    align-self: flex-end;
}
.h2-about{
    margin-top: 0px;
}
.likeLayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15vh;
    gap: 3vw;
}
.girdElement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    font-size: 60px;
}
.girdElement-p{
    width: 10vw;
    text-align: center;
}
