.scrollableObject {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 100vh;
}

.projectsTitle{
    padding-left: 5vw;
    margin-right: 25vw;

    height: 80vh;
    min-width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects-h3{
    align-self: flex-end;
    text-align: right;
}
  
.projectsWrapper {
    display: flex;
    gap: 10vw;
}

.comingSoon{
    height: 80vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  