.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
  
.basic {
    grid-column: 2 / span 3;
    grid-row: 1;

    margin-top: 20vh;
}
.frontend {
    grid-column: 1;
    grid-row: 2;
    
}
.dataScience {
    grid-column: 2 / span 2;
    grid-row: 2;
    grid-row-start: 3;
    grid-row-end: 2;
}
.skContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}